In [1]:
#Data Science Tools and Ecosystem Data Science Tools and Ecosystem

In [14]:
In this notebook, you will find a comprehensive overview of the fundamental concepts, tools, and ecosystem of data science.

SyntaxError: invalid syntax (1472908442.py, line 1)

In [ ]:
Some of the popular languages that Data Scientists use are:
    1.Python
    2.R programming
    3.SQL

In [10]:
#| Data Science Tools |
|-----------------------|
| Jupyter Notebook      |
| RStudio                |
| Spyder                 |

SyntaxError: invalid syntax (2280027362.py, line 2)

In [11]:
#Below are a few examples of evaluating arithmetic expressions in Python

x = 5
y = 3
z = x + y
print(z)

8

In [12]:
(3*4)+5       #This a simple arithmetic expression to mutiply then add integer

17

In [13]:
minutes = 200
hours = minutes / 60
print("200 minutes is equal to", hours, "hours") #This will convert 200 minutes to hours by diving by 60

200 minutes is equal to 3.3333333333333335 hours

In [ ]:
#Objectives
Some of the popular languages that Data Scientists use are:
    1.Python
    2.R programming
    3.SQL

In [ ]:
Author:Tawanda Mbavha